<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style>
        @media screen and (max-width: 600px) {
            table.content-table {
                width: 100% !important;
            }
        }
    </style>
</head>
<body>
<div style="margin: 0; padding: 0; height: 100vh; background-color: #f0f8ff;">
    <table role="presentation" height="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: #ffffff; width: 100%; height: 100%; vertical-align: middle; text-align: left;">
        <tr>
            <td align="center" valign="middle">
                <table role="presentation" cellspacing="0" cellpadding="0" border="0" class="content-table" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px; font-weight: 500; background-color: #ffffff; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);width:600px;">
                    <caption style="display:none">Reset Password</caption>
                    <tr>
                        <td style="background-color: #f0f8ff; text-align: center; border-bottom: 2px solid rgba(215, 196, 228, 0.3); padding: 25px 0 25px 0;">
                            <img src="{{ context.logo_url }}" alt="Breathline Logo" style="max-width: 150px;">
                            </td>
                    </tr>
                    <tr>
                        <td style="background-color: #f0f8ff; padding: 20px; text-align: center;">
                            <h2 style="font-size: 18px; color: #333;">Hello {{ context.name|default:'' }},</h2>
                            <p style="font-size: 14px; color: #333;">You requested to reset your password.</p>
                            <p style="font-size: 14px; color: #333;">Please click the link below to reset your password:</p>

                            <div style="margin-top: 20px;">
                                <a href="{{ context.admin_forgot_password_page_url }}{{context.uid}}/{{context.token}}" style="display: inline-block; background-color: #1a0dab; color: #ffffff; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-size: 14px;">Set a New Password</a>
                            </div>

                            <p style="font-size: 14px; color: #333; margin-top: 20px;">If you didn’t request a password reset, please ignore this email.</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #f0f8ff; padding: 0px 20px; font-size: 11px; color: #999; font-weight: 400;">
                            <p style="font-size: 12px;text-align:center; color: #333;">CONFIDENTIALITY NOTICE: This email is for the sole use of the intended recipient(s) and may contain confidential information. Unauthorized disclosure is prohibited.</p>
                            <div style="background-color: #d5e9fa; padding: 2px; margin-top: 20px; margin-bottom: 15px;">
                                <p style="margin: 0; text-align: center;">Copyright © 2025 Breathline. All Rights Reserved.</p>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>    
</body>
</html>
